@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.navbar {
  margin-top: 10px;
}

.container-fluid {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.menu {
  align-items: center;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  justify-content: space-between;
  list-style: none;
  width: 350px;
}

/* .menuButton {
  width: 50px;
  background-color: red;
  border: 1px solid green;
  border-radius: 100%;
} */
